
.Pokemon1 {
    left:0;
    Background-color: rgba(0, 0, 0, 1);
    text-align: center;
}

.Pokemon2{
    right:0;
    Background-color: rgba(0, 0, 0, 1);
    text-align: center;
}

.title{
    color: orange;
    background-color: rgba(0, 0, 0, 1);
    height: 15%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 0.5px #174897;
}

.Split {
    height:100%;
    width:50%;
    position:fixed;
    top: 0%;
    overflow-x: hidden;
    padding-top:20px;
    z-index: -1;
}

.centered{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    background-color:rgba(0, 0, 0, 1);
    text-align: center;
    -webkit-text-stroke: 0.5px #174897;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    background-color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.5px #174897;

}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    background-color:  rgba(0, 0, 0, 1);
    font-size: medium;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #174897;

}

button {
    color:rgba(0, 0, 0, 1);

}

